.u-section-1 .u-sheet-1 {
  min-height: 104px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 26px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 980px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1260px;
  margin: 10px -60px 26px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/PUBG-Mobile-Version-0.19.0-Fixes2.jpg");
  background-position: 50% 50%;
  min-height: 522px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/18BR_S18_Launcher_EGS_Blade_2560x1440_2560x1440-da6f6a137b90887357222b762c7675a1.webp");
  min-height: 518px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-2 .u-image-3 {
  background-image: url("images/9d1619c5-c469-4c8f-a959-abd909b7e692.jpg");
  min-height: 430px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-4 {
  background-image: url("images/gsmarena_001.jpg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-5 {
  background-image: url("images/Spotify11.jpg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-6 {
  background-image: url("images/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.webp");
  min-height: 281px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 53px 2px 0 0;
}

.u-section-2 .u-image-7 {
  background-image: url("images/Valorant_1591218052835_1591218061187.webp");
  min-height: 281px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-8 {
  background-image: url("images/67b0afdc84033c7d59f05f14b6bb76baaa4f_1920xt1080_S1000.jpg");
  min-height: 281px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 389px;
  }

  .u-section-2 .u-image-2 {
    min-height: 387px;
  }

  .u-section-2 .u-image-3 {
    min-height: 276px;
  }

  .u-section-2 .u-image-4 {
    min-height: 276px;
  }

  .u-section-2 .u-image-5 {
    min-height: 138px;
  }

  .u-section-2 .u-image-6 {
    min-height: 138px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    min-height: 276px;
  }

  .u-section-2 .u-image-8 {
    min-height: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 298px;
  }

  .u-section-2 .u-image-2 {
    min-height: 296px;
  }

  .u-section-2 .u-image-3 {
    min-height: 211px;
  }

  .u-section-2 .u-image-4 {
    min-height: 253px;
  }

  .u-section-2 .u-image-5 {
    min-height: 127px;
  }

  .u-section-2 .u-image-6 {
    min-height: 168px;
  }

  .u-section-2 .u-image-7 {
    min-height: 168px;
  }

  .u-section-2 .u-image-8 {
    min-height: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2185px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 447px;
  }

  .u-section-2 .u-image-2 {
    min-height: 444px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 503px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 201px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 201px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 572px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 572px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    min-height: 572px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 281px;
  }

  .u-section-2 .u-image-2 {
    min-height: 280px;
  }

  .u-section-2 .u-image-3 {
    min-height: 238px;
  }

  .u-section-2 .u-image-4 {
    min-height: 239px;
  }

  .u-section-2 .u-image-5 {
    min-height: 180px;
  }

  .u-section-2 .u-image-6 {
    min-height: 238px;
  }

  .u-section-2 .u-image-7 {
    min-height: 238px;
  }

  .u-section-2 .u-image-8 {
    min-height: 360px;
  }
}